<button class='modal__close modal__close--trailer' type='button'>
  <svg class='modal__close-icon' width='30' height='30'>
    <use href='/src/images/symbol-defs.svg#icon-close'></use>
  </svg>
</button>

<iframe
  class='modal__iframe'
  allowfullscreen='allowfullscreen'
  mozallowfullscreen='mozallowfullscreen'
  msallowfullscreen='msallowfullscreen'
  oallowfullscreen='oallowfullscreen'
  webkitallowfullscreen='webkitallowfullscreen'
  src={{trailerPath}}
></iframe>