.nav__el {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  border-radius: 100px;
  transition: color var(--tra), background-color var(--tra);
}

.nav__link {
  color: var(--secondary-btn-color);
  background-color: var(--primary-btn-color);
  transition: box-shadow var(--tra);

  &:hover {
    box-shadow: var(--btn-shadow);
  }
}

.nav__link--current {
  color: var(--primary-btn-color);
  background-color: var(--secondary-btn-color);
  transition: box-shadow var(--tra);

  &:hover {
    box-shadow: var(--btn-shadow);
  }
}

.nav__link--home {
  padding: 10px 26px;

  @media screen and (min-width: 768px) {
    padding: 12px 24px;
  }

  @media screen and (min-width: 1280px) {
    padding: 14px 32px;
  }
}

.nav__link--lib {
  padding: 10px 22px;

  @media screen and (min-width: 768px) {
    padding: 12px 20px;
  }

  @media screen and (min-width: 1280px) {
    padding: 14px 24px;
  }
}

.lib-btn {
  color: var(--accent-color);
  background-color: var(--primary-btn-color);
  transition: box-shadow var(--tra);

  &:hover {
    box-shadow: var(--btn-shadow-inset);
  }
}

.lib-btn--current {
  color: var(--primary-btn-color);
  background-color: var(--accent-color);
}

.lib-btn--watched {
  padding: 10px 23px;

  @media screen and (min-width: 768px) {
    padding: 12px 23px;
  }

  @media screen and (min-width: 1280px) {
    padding: 14px 32px;
  }
}

.lib-btn--queue {
  padding: 10px 24px;

  @media screen and (min-width: 768px) {
    padding: 12px 24px;
  }

  @media screen and (min-width: 1280px) {
    padding: 14px 24px;
  }
}

.modal__btn {
  color: var(--accent-color);
  background-color: var(--modal-btn-bg-color);
  border: 1px solid var(--accent-color);
  transition: box-shadow var(--tra);

  &:focus-visible {
    outline: 2px solid var(--primary-btn-color);
  }

  &:hover {
    box-shadow: var(--btn-shadow-inset);
  }
}

.modal__btn--added {
  color: var(--primary-btn-color);
  background-color: var(--accent-color);
}

.modal__btn--watched {
  padding: 10px 12px;

  @media screen and (min-width: 768px) {
    padding: 12px 18px;
  }

  @media screen and (min-width: 1280px) {
    padding: 14px 32px;
  }
}

.modal__btn--queue {
  padding: 10px 12px;

  @media screen and (min-width: 768px) {
    padding: 12px 18px;
  }

  @media screen and (min-width: 1280px) {
    padding: 14px 24px;
  }
}

.mod-btn--border {
  border: 1px solid var(--secondary-btn-color);
}
