.movies {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    row-gap: 32px;
    column-gap: 16px;
  }
}

.movie {
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  &:hover .movie__img::before {
    opacity: 0.5;
  }

  @media screen and (min-width: 768px) {
    max-width: calc((100% - 32px) / 2);
  }

  @media screen and (min-width: 1280px) {
    max-width: calc((100% - 2 * 16px) / 3);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
}

.movie__description {
  padding: 10px 5px 2px;

  @media screen and (min-width: 768px) {
    padding-top: 8px;
  }
}

.movie__img {
  position: relative;
  aspect-ratio: 2 / 3;

  &::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    opacity: 0;
    transition: opacity var(--tra);
  }
}

.movie__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 2px;

  @media screen and (min-width: 768px) {
    line-height: 1.33;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie__meta {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--accent-color);

  @media screen and (min-width: 768px) {
    line-height: 1.33;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie__data::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: var(--accent-color);
}
