.container--header {
  position: relative;
  padding: 14px 14px 20px 14px;
  border-radius: 10px;
  background-color: #687474;
  background-image: url(/src/images/background-mob@x1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(/src/images/background-mob@x2.jpg);
  }

  @media screen and (min-width: 768px) {
    padding: 16px;
    background-image: url(/src/images/background-tab@x1.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/src/images/background-tab@x2.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    padding: 16px 32px 32px 32px;
    background-image: url(/src/images/background-desk@x1.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(/src/images/background-desk@x2.jpg);
    }
  }
}

.header {
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.nav {
  margin-bottom: 312px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 4px;
    margin-bottom: 105px;
  }

  @media screen and (min-width: 1280px) {
    gap: 8px;
    margin-bottom: 151px;
  }
}

.nav__list {
  display: flex;
  gap: 4px;

  @media screen and (max-width: 767px) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1280px) {
    gap: 8px;
  }
}

.nav__form {
  position: relative;
}

.nav__input {
  width: 100%;
  height: 34px;
  padding-left: 15px;
  border-radius: 100px;
  outline: none;
  border: none;

  @media screen and (min-width: 768px) {
    width: 165px;
    height: 38px;
  }

  @media screen and (min-width: 1280px) {
    width: 187px;
    height: 42px;
  }
}

.nav__search {
  position: absolute;
  top: 1px;
  right: 14px;
  display: flex;
  background-color: transparent;
  padding: 8px 0;
  border: none;
}

.check {
  position: absolute;

  @media screen and (max-width: 767px) {
    top: 14px;
    right: 14px;
  }

  @media screen and (min-width: 768px) {
    bottom: 16px;
    right: 16px;
  }

  @media screen and (min-width: 1280px) {
    bottom: 32px;
    right: 32px;
  }
}

.check-label {
  display: block;
  width: 32px;
  height: 15px;
  background-color: #fff;
  border-radius: 50px;
  transition: color 0.25s linear;
}

.logo {
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}

.logo__link {
  display: flex;
  align-items: center;
  gap: 8px;

  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.logo__icon {
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }

  @media screen and (min-width: 1280px) {
    width: 59px;
    height: 59px;
  }
}

.logo__text {
  font-size: 32px;
  line-height: 1.19;
  color: #fff;
  font-style: normal;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 1.18;
  }

  @media screen and (min-width: 1280px) {
    font-size: 64px;
    line-height: 1.17;
  }
}

.header__error {
  position: absolute;
  top: 98px;
  left: 28px;
  width: 170px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #fff;

  @media screen and (min-width: 768px) {
    width: 150px;
    top: 62px;
    left: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 170px;
    top: 66px;
    left: 48px;
  }
}

.nav-lib {
  margin-bottom: 300px;

  @media screen and (min-width: 768px) {
    margin-bottom: 105px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 151px;
  }
}

.nav__list--lib {
  margin-bottom: 0;
}

.watched__list {
  display: flex;
  gap: 4px;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  @media screen and (min-width: 1280px) {
    gap: 8px;
    right: 32px;
  }
}
