.container--header {
  position: relative;
  padding: 14px;
  border-radius: 10px;
  background-color: #687474;

  @media screen and (min-width: 768px) {
    display: flex;
    padding: 16px;
  }

  @media screen and (min-width: 1280px) {
    padding: 16px 32px;
  }
}

.header {
  height: 460px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    height: 222px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1280px) {
    height: 316px;
  }
}

.nav {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
    margin-bottom: 105px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 151px;
    gap: 8px;
  }
}

.nav__list {
  display: flex;
  gap: 4px;

  @media screen and (max-width: 767px) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1280px) {
    gap: 8px;
  }
}

.nav__form {
  position: relative;
}

.nav__input {
  width: 100%;
  height: 34px;
  padding-left: 15px;
  border-radius: 100px;
  outline: none;
  border: none;

  @media screen and (min-width: 768px) {
    width: 165px;
    height: 38px;
  }

  @media screen and (min-width: 1280px) {
    width: 187px;
    height: 42px;
  }
}

.nav__search {
  position: absolute;
  top: 10px;
  right: 14px;
  display: flex;
  background-color: transparent;
  padding: 0;
  border: none;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 354px;

  @media screen and (min-width: 768px) {
    margin: 0;
    margin-top: 105px;
    align-items: center;
    justify-content: flex-start;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 151px;
  }
}

.logo__link {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.logo__icon {
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }

  @media screen and (min-width: 1280px) {
    width: 59px;
    height: 59px;
  }
}

.logo__text {
  font-size: 32px;
  line-height: 1.19;
  color: #fff;
  font-style: normal;
  font-weight: 500;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 1.18;
  }

  @media screen and (min-width: 1280px) {
    font-size: 64px;
    line-height: 1.17;
  }
}
