:root {
  --primary-btn-color: #fff;
  --secondary-btn-color: #000;
  --accent-color: #b92f2c;
  --modal-btn-bg-color: rgba(80, 80, 80, 0.8);
  --modal-blbox-bg-color: rgba(0, 0, 0, 0.2);
  --modal-blbox-plholder-bg-color: rgba(0, 0, 0, 0.9);
  --modal-primary-text-color: #fff;
  --modal-secondary-text-color: #8c8c8c;
  --modal-play-icon-color: rgba(255, 255, 255, 0.7);
  --tra: 250ms linear;
}
