:root {
  --primary-btn-color: #fff;
  --secondary-btn-color: #000;
  --accent-color: #b92f2c;
  --header-bg-color:#687474;
  --icon-sun-color:rgb(253, 152, 1);
  --icon-moon-color:rgb(223, 220, 87);
  --movie-card-shadow-color: rgba(0, 0, 0, 0.5);
  --movie-img-overlay-bg-grad: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  --modal-btn-bg-color: rgba(80, 80, 80, 0.8);
  --modal-blbox-bg-color: rgba(0, 0, 0, 0.2);
  --modal-blbox-plholder-bg-color: rgba(0, 0, 0, 0.9);
  --modal-primary-text-color: #fff;
  --modal-secondary-text-color: #8c8c8c;
  --modal-play-icon-color: rgba(255, 255, 255, 0.7);
  --dark-theme-color: #30302e;
  --btn-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.3);
  --btn-shadow-inset: 0px 0px 13px 5px rgba(0, 0, 0, 0.3) inset;
  --tra: 250ms linear;
}
