<header class="header">
  <div class="container container--header">
    <nav class="nav">
      <ul class="nav__list">
        <li>
          <a
            href="./index.html"
            class="nav__el nav__link--current nav__link--home"
            >HOME</a
          >
        </li>
        <li>
          <a href="./library.html" class="nav__el nav__link nav__link--lib">
            MY LIBRARY
          </a>
        </li>
      </ul>
      <form action="submit" class="nav__form nav__form-js">
        <div class="nav__form-search">
          <input
            type="text"
            name="serch_film"
            autofocus
            placeholder="Movie search"
            class="nav__input js-input"
          />
          <button type="submit" class="nav__search">
            <svg class="nav__icon" width="16px" height="16px">
              <use href="/src/images/symbol-defs.svg#icon-search"></use>
            </svg>
          </button>
        </div>
      </form>
    </nav>

    <div class="check">
      <label class="check-lable">
        <input
          class="check-input"
          type="checkbox"
          name="theme"
          id="check-theme"
          aria-label="Changed theme"
        />
        <svg class="header-icon-sun" width="11px" height="12px">
          <use href="/src/images/symbol-defs.svg#icon-sun"></use>
        </svg>
        <svg
          class="header-icon-moon visually-hidden icon-moon-dark"
          width="10px"
          height="10px"
        >
          <use href="/src/images/symbol-defs.svg#icon-moon"></use>
        </svg>
      </label>
    </div>

    <div class="logo">
      <a href="./index.html" class="logo__link">
        <svg class="logo__icon" width="24px" height="24px">
          <use href="/src/images/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="logo__text">Filmoteka </span>
      </a>
    </div>

    <p id="header__error-message" class="header__error">
      Search result not successful. Enter the correct movie name.
    </p>
  </div>
</header>
