<header class="header">
  <div class="container header__section">
    <nav class="nav">
      <form action="submit" class="nav__form nav__form-js">
        <div class="nav__form-search">
          <input
            type="text"
            name="serch_film"
            autofocus
            placeholder="Movie search"
            class="nav__input js-input"
          />
          <button type="submit" class="nav__search">
            <svg class="nav__icon" width="16" height="16">
                <use href=""
            </svg>
          </button>
        </div>
      </form>
    </nav>
  </div>
</header>
